#background
{

}

#cadrehaut
{
    background-color: #EA2D26;
    height: 200px;
    width: 1567px;
}

#contact
{
    background-color: #EA2D26;
    width: 230px;
    height: 701px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
}

#infosup
{
    background-color: #EA2D26;
    width: 386px;
    height: 699px;
    margin-top: 1px;

    vertical-align: top;

}

#Nom
{
    color: #FFFEFF;
    font-size: 80px;
    position: absolute;
    margin-left: 30px;
    margin-top: -1px;
}



#dev
{
    color: #FFFEFF;
    font-size: 80px;
    position: absolute;
    margin-left: 740px;
    margin-top: 139px;
}

#info
{
    color: #FFFEFF;
   padding-left: 135px;
    padding-top: 32px;
    height: 50px;
    width: 500px;
}

#age
{
    color: #FFFEFF;
    padding-left: 60px;
    padding-top: 20px;
    height: 100px;
    text-align: center;
}

#github
{
    height: 100px;
    padding-left: 85px;
    padding-top: 135px;
}

#linkedin
{
    height: 100px;
    padding-left: 85px;
    padding-top: 35px;
}

#facebook
{
    height: 100px;
    padding-left:85px;
    padding-top: 35px;
}

#mail
{
    height: 100px;
    padding-left: 85px;
    padding-top: 35px;
}

#Nom
{
    font-family: 'Josefin Sans', sans-serif;
}

#dev
{
    font-family: 'Josefin Sans', sans-serif;
}

#blocexp
{
    background-color: #EA2D26;
    height: 701px;
    width: 1353px;
    display: inline-block;
    vertical-align: middle;
    margin-left:-20px;

}

#titleexp
{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFEFF;
    margin-left: 30px;
    font-size: 35px;
    margin-top: 62px;

}

.bloc1
{
    display: inline-block;

}

.date
{
    display: inline-block;
    vertical-align: top;
    color: #FFFEFF;
    font-size: 25px;
    margin-left: 30px;
}

.blocdroite
{
    display: inline-block;
}

.lieu
{
    display: inline-block;
    margin-left: 15px;
    color: #FFFEFF;
    font-size: 25px;
    vertical-align: center;

}

.tâche
{

    margin-left: 15px;
    color: #D3D3D3;
    font-size: 20px;
    vertical-align: bottom;
    margin-top: 20px;
}

#dialogue
{

    background-color: #EA2D26;
    color: #FFFEFF;
    font-size: 16px;
    width: 1px;
}

#bloccomp
{
    background-color: #EA2D26;
    height: 688px;
    width: 400px;
    margin-top: -20px;
    display: inline-block;
    vertical-align: middle;

}
#ct

{
    color: #FFFEFF;
    font-size: 30px;
    text-align: center;
    padding-top: 50px
;
}
#listecomp
{
    color: #D3D3D3;
    font-size: 30px;
    padding-top: 20px;
    margin-left: 25px;


}

#competencetech
{
    color: #FFFEFF;
    padding-top: 40px;
    padding-left: 20px;
}

#informatik
{
    color: #FFFEFF;
    padding-top: 13px;
    padding-left: 40px;
    font-size: 20px;
}

#php
{
    height: 120px;
    margin-left: 25px;
}

#photoshop
{
    height: 120px;
    margin-left: 25px;
}

#XD
{
    height: 120px;
    margin-left: 25px;
}

#flstudio
{
    height: 120px;
    margin-left: 25px;
}

#blocbas2
{
    background-color: #EA2D26;
    height: 701px;
    width: 1344px;

    position: absolute;
    margin-left:223px;
    margin-top: -670px;
}

#for
{
    color: #FFFEFF;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
}

#blocformation
{
    color: #D3D3D3;
    font-size: 30px;
    margin-top: 0px;
    margin-left: 25px;
    position: absolute;
}

#formation

{
    position: absolute;
    margin-top: -338px;
    margin-left: 575px;
    height: 500px;
    width: 646px;

}

#message
{
    margin-top: 455px;
    position: absolute;
    background-color: #EA2D26;
    color: #FFFEFF;
}



